{% extends "base.html" %} {% block content %}
<h4>Pivots</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for pivot in pivots %}
    <tr>
      <th scope="row">
        <a href="{% url 'get_pivot_by_id' pivot.id %}">{{ pivot.id }}</a>
      </th>
      <td>{{ pivot.title }}</td>
      <td>{{ pivot.description }}</td>
      <td>
        <a href="admin/pivots/pivot/{{pivot.id}}/change">Admin edit</a> |
        <a href="explorer/{{pivot.query_id}}">Explorer edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
